

  .header1 {
      grid-area: header1;
  }

  .header2 {
      grid-area: header2;
  }

  .header3 {
      grid-area: header3;
  }

  .Content1 {
      grid-area: Content1;
  }

  .Content2 {
    grid-area: Content2;
}

.Content3 {
    grid-area: Content3;
}

.describe1 {
    grid-area: describe1;
}

.describe2 {
    grid-area: describe2;
}

.describe3 {
    grid-area: describe3;
}

  .wrapper {
      display: grid;
      margin: 10px 40px;
      grid-row-gap: 30px;
      grid-column-gap: 10px;
      background-color: #fff;
      color: #444;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
          'header1 header2 header3'
          'Content1 Content2 Content3'
          'describe1 describe2 describe3';
  }

  .box1 {
    background-color: black;
    color: white;
    text-align: center;
      border-radius: 5px;
      padding: 10px;
      font-size: x-large;
  }

  .box2 {
    background-color:aliceblue;
    border-color: black;
    padding: 10px;
    font-size: x-large;
}

.box3 {
    border-color: white;
    padding: 10px;
    font-size: x-large;
}


