body {
    margin: 40px;
}

h1 {
    text-align: center;
    font-size:"100";
    font-family: 'Merienda One', cursive;
}

.video {
    align-items: center;
    margin: 10px 40px;

}

.Photo-card {
    align-items: center;
    margin: 40px 40px;
}

.card-body {
    margin: 10px 10px;
}

.navbar{
    margin:20px;
} 

.linkedin,.github{
    font-style: italic;
    color:red;
}

.Github-project-link{
    font-style: italic;
    color:white;
}
